In [1]:
import pyranges as pr
from pyranges import PyRanges
import pandas as pd
from io import StringIO

# WGS/WES
## PATH = /data/share/ICGC/STAD/all_snv_indel

In [13]:
import numpy as np

In [64]:
refGene = pd.read_csv("/home/tsubosaka/stomach_normal_marker/refGene.txt.gz", header=None, sep="\t")

In [65]:
colnames = ["number", "Name of Gene", "Chromosome", "Strand",
           "Start",#"Transcription start position",
           "End",#"Transcription end position",
           "Coding region start",
           "Coding region end",
           "Number of exons",
           "Exon start position",
           "Exon end position",
           "Score",
           "Alternative name",
           "Status of CDS start annotations(none, unnk, incmpl, cmpl)",
           "Status of CDS end annotations(none, unnk, incmpl, cmpl)",
           "exon frame offsets"]

In [66]:
refGene.columns = colnames

In [67]:
refGene.head()

,number,Name of Gene,Chromosome,Strand,Start,End,Coding region start,Coding region end,Number of exons,Exon start position,Exon end position,Score,Alternative name,"Status of CDS start annotations(none, unnk, incmpl, cmpl)","Status of CDS end annotations(none, unnk, incmpl, cmpl)",exon frame offsets
0,585,NR_148357,chr1,+,11868,14362,14362,14362,3,"11868,12612,13220,","12227,12721,14362,",0,LOC102725121,unk,unk,"-1,-1,-1,"
1,585,NR_046018,chr1,+,11873,14409,14409,14409,3,"11873,12612,13220,","12227,12721,14409,",0,DDX11L1,unk,unk,"-1,-1,-1,"
2,2127,NM_139163,chr2,-,202152993,202222121,202153377,202216127,15,"202152993,202154179,202154418,202163960,202172...","202153504,202154289,202154577,202164023,202172...",0,FLACC1,cmpl,cmpl,"2,0,0,0,1,0,1,2,0,2,0,2,2,0,-1,"
3,585,NR_106918,chr1,-,17368,17436,17436,17436,1,"17368,","17436,",0,MIR6859-1,unk,unk,"-1,"
4,585,NR_107062,chr1,-,17368,17436,17436,17436,1,"17368,","17436,",0,MIR6859-2,unk,unk,"-1,"

In [68]:
import os

In [69]:
os.chdir('/data/share/ICGC/STAD/all_snv_indel/fix_all_snv_indel_190220/')

In [70]:
os.listdir()

['com.indel',
 'Multi-center_hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rmSNP.rm-new_f0002.add-paired-NVAF.chName',
 'China_hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF.chName',
 'com.mv',
 'China-WGS-target0_hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF.chName',
 'RCAST_hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rmSNP.rm-new_f0002.add-paired-NVAF',
 'Singapore_hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rmSNP.rm-new_f0002.add-paired-NVAF.chName',
 'NCC_non-hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF',
 'HongKong-WGS-target0_hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'HongKong-WGS-target0_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'China-WGS-target0_hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'Singapore_non-hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF.chName',
 'RCAST_hyper_all_snv_new2.txt.rmSNP.rm-new_f0002.add-paired-NVAF.1',
 'TCGA_non-hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF.chName',
 'HongKong-WGS-target0_hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF.chName',
 'HongKong-WGS-target0_non-hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF.chName',
 'RCAST_non-hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF',
 'China_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'Korea_hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF.chName',
 'Korea_hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'Multi-center_non-hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF.chName',
 'NCC_hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.1',
 'NCC_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.1',
 'Singapore_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'Korea_non-hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF.chName',
 'RCAST_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.1',
 'Korea_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'Multi-center_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'TCGA_hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF.chName',
 'China_hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'China-WGS-target0_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'China-WGS-target0_non-hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF.chName',
 'Multi-center_hyper_all_snv_new2.txt.rmSNP.rm-new_f0002.add-paired-NVAF.chName.1',
 'com.snv',
 'NCC_hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF',
 'TCGA_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'China_non-hyper_all_indel_new2.txt.rm_in-frame-new_n1_f0001.rm-new_f0002.add-paired-NVAF.chName',
 'TCGA_hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'Singapore_hyper_all_snv_new2.txt.rmSNP.rm-new_f0002.add-paired-NVAF.chName.1',
 'com.mv.1']

In [72]:
[item for item in os.listdir() if "all_snv" in item]

['HongKong-WGS-target0_hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'HongKong-WGS-target0_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'China-WGS-target0_hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'RCAST_hyper_all_snv_new2.txt.rmSNP.rm-new_f0002.add-paired-NVAF.1',
 'China_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'Korea_hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'NCC_hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.1',
 'NCC_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.1',
 'Singapore_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'RCAST_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.1',
 'Korea_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'Multi-center_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'China_hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'China-WGS-target0_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'Multi-center_hyper_all_snv_new2.txt.rmSNP.rm-new_f0002.add-paired-NVAF.chName.1',
 'TCGA_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'TCGA_hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.chName.1',
 'Singapore_hyper_all_snv_new2.txt.rmSNP.rm-new_f0002.add-paired-NVAF.chName.1']

In [73]:
snv1 = pd.read_csv("NCC_non-hyper_all_snv_new2.txt.rm-new_f0002.add-paired-NVAF.1", header=None, sep="\t")

In [74]:
snv1.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,AFP01T,1,1,26610773,26610773,93,51129,0.161290,0.000254,1353,...,0,0.0,15,635.000000,-777,-777,C>T,2.200000e-16,87,0.0
1,AFP01T,1,1,32051123,32051123,73,35900,0.369863,0.000195,1353,...,0,0.0,27,1896.733333,-777,-777,T>G,2.200000e-16,87,0.0
2,AFP01T,1,1,69498927,69498927,291,98693,0.202749,0.000203,676,...,0,0.0,59,998.763547,-777,-777,A>G,2.200000e-16,252,0.0
3,AFP01T,1,1,90470875,90470875,67,22487,0.417910,0.000133,1323,...,0,0.0,28,3142.180451,-777,-777,T>A,2.200000e-16,40,0.0
4,AFP01T,1,1,94643587,94643587,234,73670,0.260684,0.000312,1353,...,0,0.0,61,835.525641,A/G,+,G>A,2.200000e-16,190,0.0

In [75]:
colnames = ["Sample", "type (1:SNV, 2:Ins, 3: Del)", "Chromosome","Start", "End","Tumor depth", "normal depth",
           "TVAF","NVAF","10","11","12","13","14","Number of read of mutation", "TVAF/NVAF", "dbSNP", "dnSNP strand", "mutation", "p-value", 
           "paired normal depth", "paired normal VAF"]

In [76]:
len(colnames)

22

In [55]:
snv1.columns = colnames

In [59]:
1+1

2

In [58]:
refGene.head()

,number,Name of Gene,Chromosome name,'+' or '-' for strand,Transcription start position,Transcription end position,Coding region start,Coding region end,Number of exons,Exon start position,Exon end position,Score,Alternative name,"Status of CDS start annotations(none, unnk, incmpl, cmpl)","Status of CDS end annotations(none, unnk, incmpl, cmpl)",exon frame offsets
0,585,NR_148357,chr1,+,11868,14362,14362,14362,3,"11868,12612,13220,","12227,12721,14362,",0,LOC102725121,unk,unk,"-1,-1,-1,"
1,585,NR_046018,chr1,+,11873,14409,14409,14409,3,"11873,12612,13220,","12227,12721,14409,",0,DDX11L1,unk,unk,"-1,-1,-1,"
2,2127,NM_139163,chr2,-,202152993,202222121,202153377,202216127,15,"202152993,202154179,202154418,202163960,202172...","202153504,202154289,202154577,202164023,202172...",0,FLACC1,cmpl,cmpl,"2,0,0,0,1,0,1,2,0,2,0,2,2,0,-1,"
3,585,NR_106918,chr1,-,17368,17436,17436,17436,1,"17368,","17436,",0,MIR6859-1,unk,unk,"-1,"
4,585,NR_107062,chr1,-,17368,17436,17436,17436,1,"17368,","17436,",0,MIR6859-2,unk,unk,"-1,"

In [56]:
snv1.head()

,Sample,"type (1:SNV, 2:Ins, 3: Del)",Chrom,Start,End,Tumor depth,normal depth,TVAF,NVAF,10,...,13,14,Number of read of mutation,TVAF/NVAF,dbSNP,dnSNP strand,mutation,p-value,paired normal depth,paired normal VAF
0,AFP01T,1,1,26610773,26610773,93,51129,0.161290,0.000254,1353,...,0,0.0,15,635.000000,-777,-777,C>T,2.200000e-16,87,0.0
1,AFP01T,1,1,32051123,32051123,73,35900,0.369863,0.000195,1353,...,0,0.0,27,1896.733333,-777,-777,T>G,2.200000e-16,87,0.0
2,AFP01T,1,1,69498927,69498927,291,98693,0.202749,0.000203,676,...,0,0.0,59,998.763547,-777,-777,A>G,2.200000e-16,252,0.0
3,AFP01T,1,1,90470875,90470875,67,22487,0.417910,0.000133,1323,...,0,0.0,28,3142.180451,-777,-777,T>A,2.200000e-16,40,0.0
4,AFP01T,1,1,94643587,94643587,234,73670,0.260684,0.000312,1353,...,0,0.0,61,835.525641,A/G,+,G>A,2.200000e-16,190,0.0

In [57]:
snv1.shape

(83900, 22)

In [ ]:
T>G -> A>C

In [78]:
gr1 = PyRanges(refGene)

In [79]:
gr1

+-----------+----------------+--------------+--------------+-----------+-----------+-----------------------+---------------------+-------------------+-------+
| number    | Name of Gene   | Chromosome   | Strand       | Start     | End       | Coding region start   | Coding region end   | Number of exons   | ...   |
| (int64)   | (object)       | (category)   | (category)   | (int32)   | (int32)   | (int64)               | (int64)             | (int64)           | ...   |
|-----------+----------------+--------------+--------------+-----------+-----------+-----------------------+---------------------+-------------------+-------|
| 585       | NR_148357      | chr1         | +            | 11868     | 14362     | 14362                 | 14362               | 3                 | ...   |
| 585       | NR_046018      | chr1         | +            | 11873     | 14409     | 14409                 | 14409               | 3                 | ...   |
| 585       | NR_036051      | chr1         | +            | 30365     | 30503     | 30503                 | 30503               | 1                 | ...   |
| 585       | NR_036266      | chr1         | +            | 30365     | 30503     | 30503                 | 30503               | 1                 | ...   |
| ...       | ...            | ...          | ...          | ...       | ...       | ...                   | ...                 | ...               | ...   |
| 768       | NM_001006121   | chrY         | -            | 24026222  | 24040673  | 24026500              | 24038660            | 12                | ...   |
| 768       | NM_005058      | chrY         | -            | 24026222  | 24040673  | 24026500              | 24038660            | 12                | ...   |
| 768       | NM_001006121   | chrY         | -            | 24049764  | 24064214  | 24050042              | 24062201            | 12                | ...   |
| 792       | NM_004678      | chrY         | -            | 27177048  | 27198251  | 27184244              | 27190170            | 9                 | ...   |
+-----------+----------------+--------------+--------------+-----------+-----------+-----------------------+---------------------+-------------------+-------+
Stranded PyRanges object has 74,873 rows and 16 columns from 54 chromosomes.
Hidden columns: Exon start position, Exon end position, Score, Alternative name, Status of CDS start annotations(none, unnk, incmpl, cmpl), Status of CDS end annotations(none, unnk, incmpl, cmpl), exon frame offsets